# Root
/.idea
/.ssh

# Client
/client/classic.json
/client/classic.jsonp
/client/bootstrap.css
/client/bootstrap.js
/client/build
/client/modern.json*
/client.sencha

# Server
/server/node_modules
/server/public/hot
/server/public/storage
/server/storage/*.key
/server/vendor
/server/.env
/server/.env.backup
/server/.phpunit.result.cache
/server/Homestead.json
/server/Homestead.yaml
/server/npm-debug.log
/server/yarn-error.log
/server/package-lock.json
